<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      
      <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
        <span class="relative inline-block">
          <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
            <defs>
              <pattern id="ea469ae8-e6ec-4aca-8875-fc402da4d16e" x="0" y="0" width=".135" height=".30">
                <circle cx="1" cy="1" r=".7"></circle>
              </pattern>
            </defs>
            <rect fill="url(#ea469ae8-e6ec-4aca-8875-fc402da4d16e)" width="52" height="24"></rect>
          </svg>
          
        </span>
        BIENVENIDOS SOMOS GENETIC
      </h2>
      <p class="text-[25px] text-gray-700 ">
        Tu Evolución Es Fundamental
      </p>

      <p>
      Somos una plataforma desarrollada para ayudar a la evolución continua y dinamica del aprendizaje de los estudiantes que cursan, el quinto año de secundaria.
      </p>
    </div>
    <div class="grid gap-8 row-gap-10 lg:grid-cols-2">
      <div class="max-w-md sm:mx-auto sm:text-center">
        <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-indigo-50 sm:mx-auto sm:w-24 sm:h-24">
          <svg class="w-12 h-12 text-deep-purple-accent-400 sm:w-16 sm:h-16" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </div>
        <h6 class="mb-3 text-xl font-bold leading-5">Inicio</h6>
        <p class="mb-3 text-sm text-gray-900">
          En el inicio de nuestra plataforma los estudiantes podran interactuar y empezar a aprender a travez de una imagen la cual contiene elementos interactivos, por otra parte al hacer scroll, se encuentra un poco de información introductoria a cerca del tema Herencia Genética.
        </p>
       
      </div>
      <div class="max-w-md sm:mx-auto sm:text-center">
        <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-indigo-50 sm:mx-auto sm:w-24 sm:h-24">
          <svg class="w-12 h-12 text-deep-purple-accent-400 sm:w-16 sm:h-16" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </div>
        <h6 class="mb-3 text-xl font-bold leading-5">Contenido</h6>
        <p class="mb-3 text-sm text-gray-900">
          Dentro de este apartado, decidimos ofrecer un espacio donde los y las estudiantes puedan enrriquecer sus conocimientos con información proporcionada de una manera practica y llamativa.
        </p>
        
      </div>
      <div class="max-w-md sm:mx-auto sm:text-center">
        <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-indigo-50 sm:mx-auto sm:w-24 sm:h-24">
          <svg class="w-12 h-12 text-deep-purple-accent-400 sm:w-16 sm:h-16" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </div>
        <h6 class="mb-3 text-xl font-bold leading-5">Actividades</h6>
        <p class="mb-3 text-sm text-gray-900">
          Ademas de ofrecer contenido informativo, encontraran actividades en las que podran poner en practica lo aprendido, en los distintos contenidos que hayan sido abordados ya sea en clase o en los contenidos proporcionados por nuestro equipo dentro de la plataforma.
        </p>
      
      </div>
      <div class="max-w-md sm:mx-auto sm:text-center">
        <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-indigo-50 sm:mx-auto sm:w-24 sm:h-24">
          <svg class="w-12 h-12 text-deep-purple-accent-400 sm:w-16 sm:h-16" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </div>
        <h6 class="mb-3 text-xl font-bold leading-5">Navegación e Interacción</h6>
        <p class="mb-3 text-sm text-gray-900">
          El sistema de navegación permitirá a los usuarios explorar las distintas secciones de la plataforma de forma ordenada y organizada que ayudará a la comprensión de los contenidos, por otra parte, los elementos de interacción permitirán realizar acciones en la plataforma para que los estudiantes sientan que forman parte de ella. 
        </p>
        
      </div>
    </div>
  </div>




