<div class="grid grid-cols-3 gap-1 px-8 ">
  <div>
    <div class="max-w-lg my-5 mb-5 font-semibold text-4xl text-left leading-loose text-gray-900 dark:text-gray-900 " >
      <h1>Infografia</h1>
  </div>
    
    <div style="width: 100%;"><div style="position: relative; padding-bottom: 200%; padding-top: 0; height: 0;"><iframe title="TIMELINE Herencia Genética" frameborder="0" width="500" height="500" style="position: absolute; top: 0; left: 0; width: 70%; height: 70%;" src="https://view.genial.ly/65554409f14cc700114192c5" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div></div>
  <!-- ... -->
  <div></div>
</div>