<div class="flex justify-between ">
    
    
  <div class="container max-w-7xl order-last px-8  " width="500" heigh="500">

      <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
          <h1>Presentación Interactiva</h1>
      </div>
  
      <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe title="Herencia Biológica" frameborder="0" width="1200" height="675" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/65566bd8bb43a40011397511" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
  
    </div>

    <div class="container max-w-7xl order-last pl-2 pr-4" >

      <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
          <h1>Presentación Interactiva</h1>
      </div>
  
      <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe title="Herencia ligada al cromosoma X" frameborder="0" width="1200" height="675" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/65747d18117e9800145618fd" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
  
    </div>


    <div class="container max-w-7xl order-last pl-2 pr-4" >

      <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
          <h1>Presentación Interactiva</h1>
      </div>
  
      <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe title="Herencia Mitocondrial" frameborder="0" width="1200" height="675" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/6574b3260ce4f600150d0dd5" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
  
    </div>


</div>


<div class="flex justify-between ">

  <div class="container max-w-7xl order-last px-8  " width="400" heigh="400">


    <div class="max-w-lg my-8  font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
      <h1>Presentación Interactiva</h1>
  </div>

  <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe title="Carácter Hereditario" frameborder="0" width="500" height="500" style="position: absolute; top: 0; left: 0; width: 35%; height: 35%;" src="https://view.genial.ly/6574f73d117e98001489a2dd" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>


  </div>
<!-- ... -->






</div>
<!-- ... -->





  

  <!-- ... -->


  <div class="flex justify-between ">
    
    
    <div class="container max-w-7x1 order-1 px-8  ">
  
        <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
            <h1>Infografía</h1>
        </div>
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 200%; padding-top: 0; height: 0;"><iframe title="TIMELINE Herencia Genética" frameborder="0" width="500" height="500" style="position: absolute; top: 0; left: 0; width: 80%; height: 80%;" src="https://view.genial.ly/65554409f14cc700114192c5" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
    
      </div>
  
      <div class="container max-w-2x1 order-1 pl-2 pr-4" >
  
        <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
            <h1>Infografía</h1>
        </div>
    
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 200%; padding-top: 0; height: 0;"><iframe title="Enfermedades genéticas más comunes" frameborder="0" width="500" height="500" style="position: absolute; top: 0; left: 0; width: 80%; height: 80%;" src="https://view.genial.ly/6573a848eb05280014cdcde8" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
    
      </div>
  
  
      <div class="container max-w-2x1 order-1 pl-2 pr-4" >
  
        <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
            <h1>Infografía</h1>
        </div>
    
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 200%; padding-top: 0; height: 0;"><iframe title="Huella Genética" frameborder="0" width="500" height="500" style="position: absolute; top: 0; left: 0; width: 80%; height: 80%;" src="https://view.genial.ly/6573d7f7117e980014336333" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
    
      </div>

      
  <div class="container max-w-2x1 order-1 px-8  ">
  
    <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
        <h1>Infografía</h1>
    </div>
    <div style="width: 100%;"><div style="position: relative; padding-bottom: 200%; padding-top: 0; height: 0;"><iframe title="Leyes de Mendel" frameborder="0" width="500" height="500" style="position: absolute; top: 0; left: 0; width: 80%; height: 80%;" src="https://view.genial.ly/6573d7da0ce4f60015d310fe" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>

  </div>
  
  
  </div>
  
  
  
  <!-- ... -->
  
  
  
  
  
  
  <div class="flex justify-between ">
    
    
    <div class="container max-w-7xl order-last px-8  " width="500" heigh="500">
  
        <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
            <h1>Imagen Hotspots</h1>
        </div>
    
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 177.78%; padding-top: 0; height: 0;"><iframe title="Herencia Hotspots" frameborder="0" width="1080" height="1920" style="position: absolute; top: 0; left: 0; width: 70%; height: 70%;" src="https://view.genial.ly/6519864de0c3d80011c6c5ed" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
    
      </div>
  
      <div class="container max-w-7xl order-last pl-2 pr-4" >
  
        <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
            <h1>Imagen Hotspots</h1>
        </div>
    
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 100%; padding-top: 0; height: 0;"><iframe title="Mitocondrial" frameborder="0" width="800" height="800" style="position: absolute; top: 0; left: 0; width: 80%; height: 80%;" src="https://view.genial.ly/65754d76117e980014a7bc2a" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
      </div>
  
  
      <div class="container max-w-7xl order-last pl-2 pr-4" >
  
        <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
            <h1>Imagen Hotspots</h1>
        </div>
    
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe title="Mitocondrial Hotspots" frameborder="0" width="1200" height="675" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/65755ee5eb05280014554300" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
    
      </div>
  
  
  </div>
  
  
  
  <div class="flex justify-between ">
    
    
    <div class="container max-w-7xl order-last px-8  " width="500" heigh="500">
  
        <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
            <h1>Imagen Hotspots</h1>
        </div>
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe title="Tipos de Herencia Hotspots" frameborder="0" width="1200" height="675" style="position: absolute; top: 0; left: 0; width: 80%; height: 80%;" src="https://view.genial.ly/657574080ce4f600154ef94e" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
      
      </div>
  
      <div class="container max-w-7xl order-last pl-2 pr-4" >
  
        <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
            <h1>Imagen Hotspots</h1>
        </div>
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;"><iframe title="Cromosoma X" frameborder="0" width="1200" height="675" style="position: absolute; top: 0; left: 0; width: 80%; height: 80%;" src="https://view.genial.ly/65756684117e980014ad1378" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
      </div>
  
  
  
  
  </div>


  
  <div class="flex justify-between ">
    
    
    <div class="container max-w-7xl order-last px-8  " width="500" heigh="500">
  
        <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
            <h1>Video Explicativo</h1>
        </div>
        <iframe width="760" height="415" src="https://www.youtube.com/embed/F_imvhEX7E4?si=SeY-CjpXUZTzROs_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      
      </div>

      <div class="container max-w-7xl order-last px-8  " width="500" heigh="500">
  
        <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
            <h1>Rice 360-Curso de Herencia Genética</h1>
        </div>
         
        
      
         <a href="https://rise.articulate.com/share/1zYRQld0WTtkvd9Q9ghGUvcECH87auM5"> Este es un link</a>
      </div>
  





  
  </div>


  <div class="flex justify-between ">
    
    
    <div class="container max-w-7xl order-last px-8  " width="500" heigh="500">
  
        <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
            <h1>flashcards</h1>
        </div>
        
        <iframe width='600px'  height='600px'  scrolling='no'  src='https:&#x2F;&#x2F;www.goconqr.com&#x2F;en&#x2F;p&#x2F;39087656-rasgos-que-se-heredan-flash_card_decks?frame=true'  style='border: 1px solid #0091f9'  allowfullscreen  webkitallowfullscreen  mozallowfullscreen  oallowfullscreen  msallowfullscreen></iframe><a href='https:&#x2F;&#x2F;www.goconqr.com&#x2F;en&#x2F;flashcards'></a>
      
      </div>

      





  
  </div>







 