<div class="flex justify-between ">
    
    
    <div class="container max-w-7xl order-last px-8  " width="400" heigh="400">

        <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
            <h1>Arrastar y Soltar</h1>
        </div>
    
        <iframe src="https://app.Lumi.education/api/v1/run/rbTq0G/embed" width="460" height="460" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe>
    
      </div>

      <div class="container max-w-7xl order-last pl-2 pr-4" >

        <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
            <h1>Crucigrama</h1>
        </div>
    
        <iframe style="max-width:100%" src="https://wordwall.net/es/embed/d05ecb64772d48a185b2ae208217dab8?themeId=49&templateId=11&fontStackId=0" width="500" height="380" frameborder="0" allowfullscreen></iframe>
    
      </div>


      <div class="container max-w-7xl order-last pl-2 pr-4" >

        <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
            <h1>FlashCards</h1>
        </div>
    
        <iframe src="https://app.Lumi.education/api/v1/run/iUGBI7/embed" width="500" height="380" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe>
    
      </div>



  </div>



  




        

      
  









