<div class="flex justify-between ">
    
    
    <div class="container max-w-7xl order-last px-8  " width="400" heigh="400">

        <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
            <h1>Arrastar y Soltar</h1>
        </div>
    
        <iframe src="https://app.Lumi.education/api/v1/run/rbTq0G/embed" width="460" height="460" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe>
    
      </div>

      <div class="container max-w-7xl order-last pl-2 pr-4" >

        <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
            <h1>Crucigrama</h1>
        </div>
    
        <iframe allow="fullscreen; autoplay;" allowfullscreen width="400" height="400" frameborder="0" src="https://es.educaplay.com/juego/17203680-genetica.html"></iframe>
    
      </div>


      <div class="container max-w-7xl order-last pl-2 pr-4" >

        <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
            <h1>FlashCards</h1>
        </div>
    
        <iframe src="https://app.Lumi.education/api/v1/run/iUGBI7/embed" width="500" height="380" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe>
    
      </div>

  
  </div>


  <div class="flex justify-between ">

    <div class="container max-w-7xl order-last px-8  " width="400" heigh="400">


      <div class="max-w-lg my-8  font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
        <h1>Relacionar</h1>
    </div>

    <iframe allow="fullscreen; autoplay;" allowfullscreen width="460" height="560" frameborder="0" src="https://es.educaplay.com/juego/17202695-herencia_genetica.html"></iframe>


    </div>
<!-- ... -->

<div class="container max-w-7xl order-last px-8  " width="400" heigh="400">


  <div class="max-w-lg my-8  font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
    <h1>Sopa De Letras</h1>
</div>

<iframe allow="fullscreen; autoplay;" allowfullscreen width="400" height="400" frameborder="0" src="https://es.educaplay.com/juego/17203208-herencia_genetica.html"></iframe>


</div>
 <!-- ... -->

 <div class="container max-w-7xl order-last px-8  " width="300" heigh="300">


  <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
    <h1>Ordena Las Palabras</h1>
</div>

<iframe allow="fullscreen; autoplay;" allowfullscreen width="400" height="400" frameborder="0" src="https://es.educaplay.com/juego/17203382-herencia_genetica_ordena_las_palabras.html"></iframe> 

</div>




    
</div>
    <!-- ... -->

  
    <div class="flex justify-between ">

      <div class="container max-w-7xl order-last px-8  " width="400" heigh="400">
  
  
        <div class="max-w-lg my-8  font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
          <h1>FlashCards</h1>
      </div>
  
      <iframe style="max-width:100%" src="https://wordwall.net/es/embed/29c6afd5cdfe410fb32d3a3e8656372f?themeId=52&templateId=76&fontStackId=12" width="500" height="380" frameborder="0" allowfullscreen></iframe>
  
  
      </div>
  <!-- ... -->
  
  <div class="container max-w-7xl order-last px-8  " width="400" heigh="400">
  
  
    <div class="max-w-lg my-8  font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
      <h1>FlashCards</h1>
  </div>
  
  <iframe src="https://h5p.org/h5p/embed/1466500" width="500" height="500" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="Dialog Cards"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>
  
  
  </div>
   <!-- ... -->
  
   <div class="container max-w-7xl order-last px-8  " width="300" heigh="300">
  
  
    <div class="max-w-lg my-8 mb-8 font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
      <h1>Arrastrar y Soltar</h1>
  </div>
  
  <iframe src="https://app.Lumi.education/api/v1/run/Cpv501/embed" width="500" height="500" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe>
  
  </div>

  
  
   
  
  
      
  </div>  
  



  <div class="flex justify-between ">

    <div class="container max-w-7xl order-last px-8  " width="400" heigh="400">


      <div class="max-w-lg my-8  font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
        <h1>Arrastrar y Soltar</h1>
    </div>

    <iframe src="https://app.Lumi.education/api/v1/run/4LsilX/embed" width="450" height="400" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe>


    </div>
<!-- ... -->

<div class="container max-w-7xl order-last px-8  " width="400" heigh="400">


  <div class="max-w-lg my-8  font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
    <h1>Arrastrar y Soltar</h1>
</div>

<iframe src="https://app.Lumi.education/api/v1/run/UHWA6x/embed" width="400" height="400" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe>>


</div>
 <!-- ... -->

 
 <div class="container max-w-7xl order-last px-8  " width="400" heigh="400">


  <div class="max-w-lg my-8  font-bold text-4xl text-left leading-loose text-gray-900 dark:text-white" >
    <h1>Arrastrar y Soltar</h1>
</div>

<iframe src="https://app.Lumi.education/api/v1/run/jJUVZV/embed" width="400" height="400" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe>


</div>


 


    
</div>   




        

      
  









